<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- صلاحيات الموقع -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- اختياري — لو تطبيقك يحتاج GPS بالخلفية -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->

    <application
        android:label="ALBUHAIRA ALARABIA"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- 🎯 هنا تحط Google Maps API Key (لو هتستخدم خرائط) -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAz3HFs3h9uQgPaPY1vALB1vX9inCqt7tE" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- مهم جداً — لا تحذفه -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- السماح بمعرفة التطبيقات اللي تعالج نصوص -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

</manifest>
